.qualify_container {
  max-width: 400px;

  height: 300px;
  border: 1px solid #366caf;
  margin: 20px auto;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: 3px 5px 5px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 5px 5px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 5px 5px -4px rgba(0, 0, 0, 0.75);
}

.qualify_header {
  text-align: center;
  font-weight: 100;
  background-color: #366caf;
  color: white;
  padding: 10px;
}

.buttons_container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.prev_btn {
  border-top-right-radius: 5px;
}

.next_btn {
  border-top-left-radius: 5px;
}

button:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}

.form_container {
  margin-top: 80px;
  text-align: center;
}

.form_container h1 {
  font-weight: 100;
  font-size: 2.5rem;
}

.input_container {
  display: flex;
  justify-content: center;
  gap: 2px;
}

.input_container label {
  font-size: 2.2rem;
}

.input_container input {
  width: 1.8rem;
  align-self: stretch;
}

.qualify_container_btn {
  color: white;
  background-color: #366caf;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
}

.qualify_btn {
  color: white;
  background-color: #366caf;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}
